SECRET_KEY=django-fake*-secret-key
DEBUG=True

# Database connection
DB_HOST=shipster-db
DB_NAME=shipter-app
DB_USER=postgres
DB_PASS=postgres
POSTGRES_VERSION=latest
DJANGO_DOCKER_PORT=8080
POSTGRES_DOCKER_PORT=5532
FRONTEND_DOCKER_PORT=80

# The domain name local.test is a special-use or reserved name that cannot be used with email.
PGADMIN_MAIL=admin@dev.dev
PGADMIN_PW=admin
PGADMIN_PORT=5050
# Cache Service
REDIS_HOST=shipster-cache
REDIS_PORT=6379
REDIS_PASSWORD=changeme
CACHE_TTL=900 #TTL=15min

# Production specific
LETSENCRYPT_EMAIL=
ROOT_DOMAIN=
FRONTEND_DOMAIN=
WILDCARD_DOMAIN=
PORTAINER_DOMAIN=
EDGE_DOMAIN=
